.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0 0;
}

.logo {
    max-width: 4rem;
    animation: spin 4s linear infinite;
}

.title {
    font-size: 3rem;
    text-shadow: 0 0 4px aliceblue;
    color: azure;
    margin-left: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 767px) {
    .container {
        padding: 3vh 0 0;
    }
    .title {
        font-size: 2.5rem;
    }
}
