.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    margin: 10px auto;
}

.input {
    height: 40px;
}

.icon {
    display: inline;
    height: 40px;
    width: 40px;
    background: skyblue;
    border-radius: 50%;
    align-self: stretch;
    margin-left: 10px;
    cursor: pointer;
}
