@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);

.container {
    display: flex;
    cursor: default;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city {
    font-size: 3rem;
}

.country {
    font-size: 2rem;
}

.main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 250px;
}

.weatherImg {
    max-height: 250px;
}

.description {
    font-size: 2rem;
    text-transform: capitalize;
}

.conditions {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.feelsLike {
    font-size: 3rem;
}
.feelsLike::before {
    content: "\f055  ";
    font-family: weathericons;
}

.wind {
    font-size: 1.3rem;
}
.wind::before {
    content: "\f050  ";
    font-family: weathericons;
}

.humidity {
    font-size: 1.3rem;
}

@media (max-width: 767px) {
    .city {
        font-size: 2rem;
    }
    .country {
        font-size: 1rem;
    }
    .description {
        font-size: 1rem;
    }
    .feelsLike {
        font-size: 2rem;
    }
}
