body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(0deg, #348ac7 10%, #7474bf 90%);
}

ul li {
    list-style: none;
    display: inline-block;
}

ul {
    padding: 0;
}
